body {
	background-image: url(https://si0.twimg.com/profile_background_images/378800000124006106/20ba18c36f5429280c6d5d355698f40d.jpeg);
	background-position: center 0px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #1A1B1F;
	height: 100%;
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: #333;
	width: 770px;
	line-height: 18px;
	overflow-y: scroll;
	min-width: 520px;
}

.icon {
	display: inline-block;
	vertical-align: text-top;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.settings{
	background-position: -160px -80px;
	float: left;
	width: 35px;
    margin: -4px 6px 0 0;
	background-image: url('https://abs.twimg.com/a/1389141113/t1/img/twitter_web_sprite_icons.png');
}
.settings_link .caret{
	margin-left: -10px;
	margin-top: 5px;
}
.metadata{
	display: block;
	white-space: nowrap;
	margin: 0px;
	margin-top: -7px;
	margin-left: 40px;
	padding: 0px;
	color: #999;
	font-size: 11px;
}
.dropdown-menu{
	text-align: left;
    font-size: 12px;
}
.dropdown-menu ul li{
	line-height: inherit;
	line-height: 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #fff;
	background-color: #2271a9;
	font-weight: normal;
}
.settings_link{
	display: block;
    height: 50px;
	padding: 13px 12px 15px;
	font-weight: bold;
	line-height: 1;
	color: #bbb;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.75);
}
#doc{
	height: 100%;
}

.navbar-default{
	border-color: inherit;
	text-align: center;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #252525;
}

.glyphicon-pencil{
	color: #2FC2EF;
}
.navbar, .navbar-collapse{
	position: fixed;
	width: auto;
	top: 0px;
	right: 0;
	left: 0;
	z-index: 1000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #252525;
    height: 40px;
}

textarea {
	width: 100%;
}

.navbar-collapse{
	border-radius: 25px;
}

.container{
	margin-top: 4em;
	height: inherit;
	float: left;
}

.mini-profile{
	width: 310px;
	border-radius: 1em;
	background-color: rgb(249, 249, 249);
	opacity: 0.95;
	height: inherit;
	padding: 0px;
	float: left;

}

.summary-profile{
	padding: 15px;
}

.mini-profile a{
	display: block;

}

.mini-profile a:hover, .mini-profile a:focus{
	color: #2FC2EF;
	outline: none;
	text-decoration: none;
}

.fullname:hover, .fullname:focus{
  color: inherit;
  text-decoration: underline;
}

.tweets{
	width: 45em;
	border-radius: 1em;
	background-color: white;
	opacity: 0.85;
	height: inherit;
	margin-left: 0.5em;
	float: left;
}

.list-group-item img{
	width: 62px;
	height: 47px;
	float: left;
	margin-right: 5px;
}

.list-group-item  {
	clear:left;
	
}

.list-group-item .div-text{
	
	text-align: left;
}

.tweets h2{
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 10px;
}

.search-input{
	width: 200px;
	padding: 2px;
	padding-left: 15px;
    border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: rgb(68, 68, 68);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(68, 68, 68);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(68, 68, 68);
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border-top-style: none;
	border-top-width: 0px;
	box-shadow: none;
    color: #000000;
    font-size: 12px;
    outline: none;
}

.twitter_icon {
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-in-out;
	background-image: url(https://abs.twimg.com/a/1389141113/t1/img/twitter_web_sprite_icons.png);
	background-position: -40px 0px;
	background-repeat: no-repeat;
	color: rgb(51, 51, 51);
	display: inline-block;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	float: left;
	height: 21px;
	line-height: 24px;
	text-align: center;
	text-rendering: optimizelegibility;
	width: 24px;
	margin: 14px;
}

a.glyphicon:hover, a.glyphicon:focus{
	color: #fff;
}

.glyphicon span{
   padding-left: 5px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}


.form-group{
	margin-top: 5px;
}

.fullname {
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-top: -10px;
}
.size32 {
	width: 32px;
	height: 32px;
	border-radius: 4px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #2FC2EF;
	outline: none;
}


a.selected {
  color:white;
  z-index:100;
}

a.close{
font-size: inherit;
font-weight: normal;
line-height: 1;
color: #428bca;
opacity: 1.0;
float: none;
}

.messagepop a:hover, .messagepop a:focus{
	text-decoration: none;
	color: #428bca;
	opacity: 1.0;
}

.messagepop {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	cursor: default;
	display: none;
	margin-top: 15px;
	position: absolute;
	padding: 25px 25px 20px;
	border-radius: 15px;
	left:50%;
	top:50%;
	opacity: 1.0;

}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
.col_md-4 {
  border-left: 1px solid rgb(232, 232, 232);
  display: block;
  float: left;
  width: 100px;
  padding: 5px;
}
.col_md-4 a{
	display: block;
	width: 44px;
	height: 30px;
}

.col_md-4 b{
	display: block;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	color: black;
	height: 16px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	text-transform: uppercase;
	width: 44px;
}

.col_md-4 a .metadata:hover, .col_md-4 a .metadata:focus,.col_md-4 a b:hover, .col_md-4 a b:focus{
	color: #428bca !important;
} 

.col_md-4 .metadata{
	margin: 2px;
}

.row_md{
	background-color: rgb(249, 249, 249);
	border-bottom-color: rgb(232, 232, 232);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: rgb(232, 232, 232);
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 12px;
	height: 46px;
	line-height: 16px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	width: 300px;
}


@media(min-width: 768px) {
	.tweets{
		width: 400px;
	}

	.list-group-item  {
		width: 100%;

    }

	.messagepop {
	left:10%;
	top:20%;
	}
}

.messagepop {
	margin-top: 15px;
	position: absolute;
	padding: 1.5em;
	border-radius: 15px;
	left:10%;
	top:20%;
	opacity: 1.0;
    width: 70%;
}

.messagepop  p {
	border: none;
	text-align: center;
}

#web-send{
	padding-top: 20px;
	width: 120px;
	display: block;
	float: right;
}

#web-form-tweet{
	display: none;
	height: 120px;
	vertical-align: bottom;
	margin-top: 20px;
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
}

.web-new-tweet{
	margin: 20px;
}

.username {
	color: rgb(153, 153, 153);
	cursor: auto;
	display: inline;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 12px;
	height: auto;
	line-height: 18px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	width: auto;

}
input#fake-tweet{
rgba(0, 0, 0, 0.0470588) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.0745098) 0px 1px 0px 0px;
-webkit-line-break: after-white-space;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.2s;
-webkit-transition-property: background;
-webkit-transition-timing-function: linear;
-webkit-user-modify: read-write;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.0745098) 0px 1px 0px 0px;
color: rgb(170, 170, 170);
display: block;
font-family: 'Helvetica Neue', Arial, sans-serif;
font-size: 13px;
height: 19px;
padding: 14px;
width: 258px;
word-wrap: normal;

}

@media(max-width: 768px) {
	.container{
		max-width: 100%;
		width: 100%;
	}


	.navbar-collapse{
		margin-top: 50px;
	}
	.mini-profile, li.dropdown, .nav li:first-child{
		display: none;
	}
	.tweets{
		width: 85% !important;
	}

	body{
		width: 100% !important;
		min-width: 90%;
	}


}